.page-baking {
    .banner {
        &.banner-baking {
            background: url(../images/zp_30.jpg) repeat-x left top;
            .container {
                position: relative;
                .label {
                    position: absolute;
                    right: 15px;
                    bottom: 15px;
                    background: url(../images/zp_4.png);
                    padding: 0 15px;
                    h1 {
                        color: #fff;
                        font-size: 60px;
                        small {
                            font-size: 24px;
                            display: block;
                            color: #fff;
                            text-align: center;
                            border-top: 1px dashed #fff;
                            margin-top: 10px;
                            padding-top: 10px;
                        }
                    }
                }
            }
        }
    }
    .main-content {
    	margin-bottom: 50px;
    	padding: 10px;
        h5 {
        	color:#f74b67;
        	font-size: 20px;
        	margin-top: 30px;
        }
        p {
        	font-size: 15px;
        	text-align: justify;
        	line-height: 1.8;
        }
    }
}
