//欢迎按钮
.btn-welcome {
    @include button-variant(#fff, #fc7502, #ffffff);
    border-width: 3px;
    border-radius: 5px;
    padding-left: 50px;
    padding-right: 50px;
}

.btn-buy {
	@include button-variant(#fff, #ff1366, #ffffff);
	line-height: 20px;
	padding-left: 20%;
	padding-right: 20%;
	border-radius: 8px;
	@media (min-width: $screen-phone) {
		line-height: 25px;
		border-radius: 12px;
	}
}

.btn-a {
	@include button-variant(#fff, #ff1366, #ffffff);
	display:block;
}

.btn-b {
	@include button-variant(#fff, #ff1366, #ffffff);
}

.btn-login {
	@include button-variant(#fff, #ffbc1c, #ffbc1c);
	padding-left: 0;
	padding-right: 0;
}