.ui-popup-backdrop {
    background: rgba(255, 255, 255, 0.8) !important;
}

.skin-a {
    border: 2px solid #ff1366;
    border-radius: 0px;
    background-color: #fff;
    position: relative;
    font-family: inherit;
    .ui-dialog-header {
        border: none;
        display: block !important;
        height: 20px;
        .ui-dialog-close {
            position: absolute;
            display: block;
            color: #FFF;
            font-size: 24px;
            font-weight: normal;
            text-shadow: none;
            width: 20px;
            height: 28px;
            top: 2px;
            right: 2px;
            background-color: #ff1366;
            border-radius: 14px;
            @include opacity(0.8);
            &:hover {
                @include opacity(1);
            }
        }
    }
    .ui-dialog-body {
        padding: 0;
    }
}

#product-detail {
    max-width: 1024px;
    .padding-patch {
        &.pic {
            padding: 5% 5% 3% 5%;
        }
        &.description {
            padding: 5% 5% 5% 3%;
        }
        @media (min-width: $screen-phone) {
            &.pic {
                padding: 10% 5% 10% 10%;
            }
            &.description {
                padding: 10% 10% 10% 5%;
            }
        }
        @media (min-width: $screen-tablet) {
            &.pic {
                padding: 15% 7.5% 15% 15%;
            }
            &.description {
                padding: 15% 15% 15% 7.5%;
            }
        }
    }
    img {
    	display: block;
        margin: 0 auto;
    }
    h3 {
        color: #ff1366;
        text-align: center;
        border-bottom: 1px solid #ff1366;
		font-size: 24px;
		margin-top: 0;
		margin-bottom: 5px;
		padding-bottom: 5px;
        @media (min-width: $screen-phone) {
        	font-size: 32px;
			padding-bottom: 10px;
			margin-bottom: 10px;
        }
        @media (min-width: $screen-tablet) {
        	font-size: 36px;
			padding-bottom: 20px;
			margin-bottom: 30px;
        }
    }
    p {
        color: #ff1366;
        border-bottom: 1px solid #ff1366;
        @media (min-width: $screen-phone) {
        	font-size: 20px;
			padding-bottom: 10px;
			line-height: 1.5;
			margin-bottom: 30px;
        }
        @media (min-width: $screen-tablet) {
        	font-size: 24px;
			padding-bottom: 20px;
			line-height: 1.8;
			margin-bottom: 30px;
        }
    }
}
