.page-store {
    .banner {
        &.banner-store {
            background: url(../images/md_bg.jpg) repeat-x center top;
        }
        .slick-slider {
            margin-bottom: 0;
        }
        .slick-dots {
            bottom: 0px;
            li {
                button {
                    &:before {
                        color: #ffffff;
                        @include opacity(1);
                        font-size: 12px;
                    }
                }
                &:hover {
                    button {
                        &:before {
                            color: lighten(#ff607e, 20%);
                        }
                    }
                }
                &.slick-active {
                    button {
                        &:before {
                            color: #ff607e;
                        }
                    }
                }
            }
        }
    }
    .main-content {
        .container {
            margin-bottom: 30px;
            .row {
                background-color: #bfb7a9;
                padding: 20px;
                color: #fff;
                h1 {
					font-weight: bold;
					margin-bottom: 30px;
                }
                h2 {
                	text-align: center;
                	background-color: #eaeaea;
                	font-size: 15px;
                	padding: 5px;
                	margin-bottom: 0;
                	color: #333;
                }
                p {
                	font-size: 16px;
                	margin-bottom: 20px;
                }
                .img-responsive {
                    margin: 0 auto;
                    width: 100%;
                }
            }
        }
    }
}
