$iconfont: font_1446555015_958203;

$font-family-sans-serif: "Helvetica Neue", Helvetica, "Hiragino Sans GB", "Hiragino Sans GB W3", "Microsoft YaHei", Arial, sans-serif ;
$font-family-serif: Georgia, "Times New Roman", Times, "SimSun" serif !default;
//** Default monospace fonts for `<code>`, `<kbd>`, and `<pre>`.
$font-family-monospace: Menlo, Monaco, Consolas, "Courier New", monospace !default;

$gray-base:              #000 !default;
$gray-darker:            #222;
$gray-dark:              #333;
$gray:                   #666;
$gray-light:             #999;
$gray-lighter:           #eee;

$grid-gutter-width:         0px !default;

$grid-float-breakpoint: 1024px !default;
$screen-lg: 1024px;

