.page-works {
    .banner {
        &.banner-works {
            background: url(../images/zp_35.jpg) repeat-x center top;
            .banner-nav {
                background: url(../images/zp_34.jpg) no-repeat center top;
                .work {
                    position: relative;
                    margin: 10px 0;
                    .padding-patch {
                        a {
                            border-radius: 50%;
                            background: url(../images/zp_4.png) left top;
                            display: block;
                            color: #fff;
                            text-decoration: none;
                            text-align: center;
                            width: 110px;
                            line-height: 110px;
                            margin: 0 auto;
                            border: 3px solid #fff;
                            strong {
                                display: block;
                                font-size: 32px;
                                font-weight: normal;
                            }
                            &:hover {
                                background-color: #000;
                            }
                        }
                    }
                    @media (min-width: $grid-float-breakpoint) {
                        position: relative;
                        height: 600px;
                        margin: 0;
                        .padding-patch {
                            position: absolute;
                            width: 100%;
                            height: 130px;
                            left: 0;
                            top: 50%;
                            margin-top: -65px;
                            a {
                                border-radius: 50%;
                                background: url(../images/zp_4.png) left top;
                                display: block;
                                color: #fff;
                                text-decoration: none;
                                text-align: center;
                                width: 110px;
                                line-height: 110px;
                                strong {
                                    display: block;
                                    font-size: 32px;
                                    font-weight: normal;
                                }
                                small {
                                    display: block;
                                    font-size: 21px;
                                }
                                &:hover {
                                    background-color: #000;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .pagination {
        > li {
            > a {
                border-radius: 50%;
                margin-left: 10px;
                background-color: #D7D7D7;
                border-color: #D7D7D7;
                color: #fff;
                &:hover {
                    background-color: darken(#D7D7D7, 20%);
                }
            }
            &.active {
                > a {
                    background-color: #FFAF5A;
                    border-color: #FFAF5A;
                }
            }
        }
    }
    .main-content {
    	margin-bottom: 50px;
        .works-list {
            .padding-patch {
                padding: 5px;
                @media (min-width: $grid-float-breakpoint) {
                	padding: 10px;
                }
                a {
                    display: block;
                    position: relative;
                    color: #fff;
                    text-decoration: none;
                    font-size: 16px;
                    img.img-responsive {
                        margin: 0 auto;
                        width: 100%;
                    }
                    .title {
                        position: absolute;
                        left: 0;
                        width: 100%;
                        bottom: 0;
                        line-height: 40px;
                        text-align: center;
                        background: url(../images/zp_4.png);
                        &:hover {
                            color: darken(#fff, 10%);
                        }
                    }
                }
            }
        }
    }
}
