@import "variable";
@import "iconfont";
$icon-font-path: "../bower_components/bootstrap-sass/assets/fonts/bootstrap/";
// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

* {
  @include box-sizing(content-box);
}
*:before,
*:after {
  @include box-sizing(content-box);
}
body {
	background-color: #fff9fa;
}

.container {
    @media (min-width: $grid-float-breakpoint) {
        width: 1024px !important;
    }
}

//帮助类
@import "utils";
//按钮样式
@import "button";

//公告样式
@import "common";
//欢迎页
@import "welcome";
//首页
@import "home";
//服务介绍
@import "server";
//门店详情
@import "store";
//企业活动
@import "activity";
//会员中心
@import "member";
//作品展示
@import "works";
//招聘信息
@import "employment";
//烘培助手
@import "baking";