@import "variable";
@import "iconfont";
$icon-font-path: "../bower_components/bootstrap-sass/assets/fonts/bootstrap/";
// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower
.container {
    @media (min-width: $grid-float-breakpoint) {
        width: 1024px !important;
    }
}

@import "utils";
@import "button";
//欢迎页
@import "welcome";
//首页
@import "home";
.navbar {
    background-color: #fff0f3;
    margin-bottom: 0;
    .navbar-header {
        .navbar-toggle {
            margin-right: 5px;
            background-color: #fc8ea0;
            border-color: #fff;
            .icon-bar {
                background-color: #fff;
            }
            &:hover,
            &:active {
                background-color: darken(#fc8ea0, 10%);
            }
        }
        .brand {
            margin-top: 10px;
        }
    }
    ul.nav {
        &.navbar-nav {
            width: 100%;
            > li {
                margin-top: 36px;
                width: 9%;
                text-align: center;
                margin-left: 0.5%;
                margin-right: 0.5%;
                padding-bottom: 10px;
                > a {
                    color: #666;
                    font-size: 15px;
                    padding-bottom: 5px;
                    font-weight: bold;
                    &:hover {
                        border-bottom: 3px solid #fc8ea0;
                    }
                }
                &.logo {
                    margin-top: 0;
                    > a {
                        &:hover {
                            border-bottom: 0px;
                        }
                    }
                }
                &.active {
                    > a {
                        color: #fc8ea0;
                        background-color: transparent;
                        &:hover {
                            border-bottom: 0px;
                        }
                    }
                }
            }
        }
    }
    @media (max-width: $grid-float-breakpoint) {
        .navbar-collapse {
            position: fixed;
            top: 50px;
            left: 0px;
            right: 0px;
            width: 100%;
            z-index: 200;
            background-color: rgba(255, 240, 243, 0.8);
            ul.nav {
                &.navbar-nav {
                    width: 100%;
                    > li {
                        width: 100%;
                        text-align: center;
                        margin-left: 0%;
                        margin-right: 0%;
                        padding-bottom: 0px;
                        margin-top: 0px;
                        text-align: left;
                        > a {
                            color: #666;
                            font-size: 15px;
                            padding-bottom: 0px;
                            font-weight: bold;
                            padding: 0;
                            padding: 5px 16px;
                            border-bottom: 1px solid lighten(#fc8ea0, 10%);
                        }
                        &.logo {
                            margin-top: 0;
                            > a {
                                &:hover {
                                    border-bottom: 0px;
                                }
                            }
                        }
                        &.active {
                            > a {
                                color: #fc8ea0;
                                background-color: transparent;
                                &:hover {
                                    border-bottom: 0px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.banner {
    &.banner-home {
        background: url(../images/bg.jpg) repeat-x left top;
        .container {
            position: relative;
        }
        .slick-slider {
            margin-bottom: 0;
        }
        .slick-dots {
            bottom: 0px;
            li {
                button {
                    &:before {
                        color: #ffffff;
                        @include opacity(1);
                        font-size: 12px;
                    }
                }
                &:hover {
                    button {
                        &:before {
                            color: lighten(#ff607e, 20%);
                        }
                    }
                }
                &.slick-active {
                    button {
                        &:before {
                            color: #ff607e;
                        }
                    }
                }
            }
        }
    }
    .banner-menu {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 35%;
        @media (min-width: $grid-float-breakpoint) {
            width: 28%;
        }
        margin: 0;
        li {
            list-style: none;
            height: 20%;
            @media (min-width: $grid-float-breakpoint) {
                height: 12.5%;
            }
            background: url(../images/rk_bg.png) repeat-y right top;
            text-align: center;
            border-bottom: 1px solid #ddd;
            a {
                vertical-align: middle;
                text-decoration: none;
                color: #666666;
                img {
                    margin-right: 10px;
                }
                &:hover {
                    color: #fc8ea0;
                }
            }
            &.img-menu {
                @media (min-width: $grid-float-breakpoint) {
                    height: 25%;
                }
            }
        }
    }
    .banner-nav {
        height: 76px;
        background: url(../images/fl_bg.png) repeat-x left bottom;
        background-size: auto 100%;
        @media (min-width: $grid-float-breakpoint) {
            height: 152px;
        }
        .col-xs-3 {
            height: 100%;
            a {
                display: block;
                width: 100%;
                color: #444444;
                height: 152px;
                text-decoration: none;
                height: 76px;
                padding-top: 50px;
                @media (min-width: $grid-float-breakpoint) {
                    padding-top: 100px;
                }
                &:hover {
                    color: #333333;
                }
                &.dangao {
                    background: url(../images/fl_1.png) center 10px no-repeat;
                    background-size: auto 50%;
                    @media (min-width: $grid-float-breakpoint) {
                        background: url(../images/fl_1.png) center 30px no-repeat;
                    }
                    &:hover {
                        background-image: url(../images/fl_01.png)
                    }
                }
                &.mianbao {
                    background: url(../images/fl_2.png) center 10px no-repeat;
                    background-size: auto 50%;
                    @media (min-width: $grid-float-breakpoint) {
                        background: url(../images/fl_2.png) center 30px no-repeat;
                    }
                    &:hover {
                        background-image: url(../images/fl_02.png)
                    }
                }
                &.liaoli {
                    background: url(../images/fl_3.png) center 10px no-repeat;
                    background-size: auto 50%;
                    @media (min-width: $grid-float-breakpoint) {
                        background: url(../images/fl_3.png) center 30px no-repeat;
                    }
                    &:hover {
                        background-image: url(../images/fl_03.png)
                    }
                }
                &.ertong {
                    background: url(../images/fl_4.png) center 10px no-repeat;
                    background-size: auto 50%;
                    @media (min-width: $grid-float-breakpoint) {
                        background: url(../images/fl_4.png) center 30px no-repeat;
                    }
                    &:hover {
                        background-image: url(../images/fl_04.png)
                    }
                }
            }
        }
    }
}

.site-footer {
    background-color: #ffb5c3;
    @media (min-width: $grid-float-breakpoint) {}
    .multi {
        line-height: 70px;
        text-align: center;
        img {
            display: inline-block;
            margin-right: 10px;
            max-width: 50px;
        }
        p {
            font-size: 12px;
            line-height: 1.5em;
            text-align: center;
            display: inline-block;
            vertical-align: middle;
        }
        @media (min-width: $grid-float-breakpoint) {
            line-height: 125px;
            img {
                max-width: 100px;
            }
        }
    }
}

.main-content {
    .case-show {
        padding: 16px 0;
        position: relative;
        .label {
            position: absolute;
            left: 10px;
            top: 10px;
            border: 2px solid #fff;
            padding: 10px 20px;
            color: #fff;
            font-size: 18px;
            @media (min-width: $grid-float-breakpoint) {
                left: 20px;
                top: 20px;
                border: 4px solid #fff;
                padding: 15px 30px;
                color: #fff;
                font-size: 24px;
            }
        }
    }
}
